<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-body>
        <div class="row">
          <div class="col-lg-10">
            <input type="text" name="daterange" value="" placeholder="Pick a time interval.." class="form-control input-sm" />
          </div>
          <div class="col-lg-2">
            <button class="btn btn-sm btn-info">Go</button>
          </div>
        </div>
      </rd-widget-body>
    <rd-widget>
  </div>
  <div class="col-lg-3"></div>
</div>

<div class="row">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-header title="What do you want to monitor?">
      </rd-widget-header>
      <rd-widget-body>
        <div class="row">
          <div class="col-lg-12">
            <form>
              <label class="radio-inline">
                <input type="radio" name="optradio" value="1">CPU Usage
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio" value="2">Memory Usage
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio" value="3">Memory Available
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio" value="4">Network Packet
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio" value="5">Network Throughput
              </label>
            </form>
          </div>
        </div>
      </rd-widget-body>
    <rd-widget>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-body>
        <div class="row">
          <div class="col-lg-10">
            <chart-div></chart-div>
          </div>
        </div>
      </rd-widget-body>
    <rd-widget>
  </div>
</div>
